.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header {
  width: 100%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #660000;
  font-size: 18px;
  height: 18px;
}

hr.headerLine {
  height: 2px;
  background-color: #660000;
}

img {
  height: 77px;
  width: 125px;
}

iframe {
  width: 100%;
  height: 394px;
}

hr.bottomLine {
  height: 15px;
  background-color: #444444;
  width: 100%;
}
