<link rel="stylesheet" href="/css/virtualStoreProductBox.css" />

<div class="container">
  <div class="productBox">
    <header>Dji Inspire 1</header>
    <div class="productDescription">
      <img
        src="../../images/DroneA.png"
        alt="Dji Inspire 1"
        class="droneImages"
      />
      <p>
        O Inspire 1 é o novo quadricóptero da Dji, capaz de capturar imagens em
        4k e transmiti-las ao vivo
      </p>
    </div>
    <footer class="blueFooter">
      <div class="price">
        <span class="fullPrice">R$ 8.000,00</span>
        <span class="installmentsPrice">24x R$333,00</span>
      </div>
      <img
        src="../../images/carrinho.png"
        alt="Carrinho de compra"
        class="shoppingCartImage"
      />
    </footer>
  </div>

  <div class="redProductBox">
    <header class="redHeader">Phantom 2 + Zenmuse H3-3D</header>
    <div class="productDescription">
      <img
        src="../../images/DroneB.png"
        alt="Phantom 2 + Zenmuse H3-3D"
        class="droneImages"
      />
      <p class="redParagraph">
        O Phantom 2 é um dos quadricópteros mais desejados por quem busca um
        drone profissional
      </p>
    </div>

    <footer class="redFooter">
      <div class="price">
        <span class="fullPrice">R$ 12.000,00</span>
        <span class="installmentsPrice">24x R$500,00</span>
      </div>
      <img
        src="../../images/carrinho.png"
        alt="Carrinho de compra"
        class="shoppingCartImage"
      />
    </footer>
  </div>

  <div class="productBox">
    <header>AR.Drone 2.0</header>
    <div class="productDescription">
      <img
        src="../../images/DroneC.png"
        alt="AR.Drone 2.0"
        class="droneImages"
      />
      <p>
        O AR.Drone é um dos brinquedos mais legais do mundo. A ideia de
        controlar um quadricóptero com um iPhone/ Ipad ou Android
      </p>
    </div>
    <footer class="blueFooter">
      <div class="price">
        <span class="fullPrice">R$ 1.500,00</span>
        <span class="installmentsPrice">24x R$62,00</span>
      </div>
      <img
        src="../../images/carrinho.png"
        alt="Carrinho de compra"
        class="shoppingCartImage"
      />
    </footer>
  </div>
</div>
