<link rel="stylesheet" href="/css/footerStyle.css" />

<div class="pageFooter">
  <div class="droneImages">
    <img src="/images/imgDroneC.png" alt="Drone" />
    <img src="/images/imgDroneC.png" alt="Drone" />
    <img src="/images/imgDroneC.png" alt="Drone" class="missplacedDrone" />
  </div>
  <div class="container">
    <div class="content">
      <img src="/images/logo.png" alt="Drone.net logomarca" />
      <div class="message">
        <p>
          Boa Sorte meu amigo! que sua estrada seja feita de campos verdes para
          que seus pés caminhem para o sucesso...
          <br />
          Boa Sorte de coração!
        </p>
      </div>
    </div>
    <footer>
      <p>Prof.Bortola</p>
      <img src="/images/imgProfessor.png" alt="Professor Bortola" />
    </footer>
  </div>
</div>
